<!DOCTYPE html>
<html>
<head lang="en">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



    <style>
    .btn {
    padding: 11px 20px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-danger {
    background: #F582F1;}

</style>


    <meta charset="UTF-8">
    <title></title>
</head>
<body>



<div class="container-fluid">


    <div style="margin-bottom:50px;" class="h1 row">
        Item Description for Online sales

    </div>

    <a class="btn btn-danger" href="{% url 'MainPage' %}">

        Go Back to Main Page

    </a>
<div style="margin-top:50px;">

    <p class="h2 row">
        Hockey stick bench $100
    </p>
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/9742612@N03/4296561995/" title="Chair made of hockey sticks"><img src="https://farm5.staticflickr.com/4041/4296561995_513cb0682e.jpg" width="500" height="375" alt="Chair made of hockey sticks"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>




    <div style="margin-top:50px;">

    <p class="h2 row">
        Signed Hockey stick $200
    </p>
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/the_mel/6808712936/in/photolist-bnEr9m-nqW7vX-bx5vxu-hdad9z-apjwX6-oHP4JX-apjxj2-4EoZtE-cv5gGN-qpSnYr-m8z8Mi-cu1Uzd-apjx9H-m8yo98-6vCKzy-aFUfxB-kNn6hr-8TWaBB-bpES9J-azT9T9-jXywq5-4hbfSc-bKqMu6-azTaW9-apjxqB-apjxAF-6g2kXU-azTaAJ-azQuW6-6akPry-azQvgM-cu1Pjq-9kaySx-apjwVz-bKZfcc-dfTjAn-9kayxX-qLBN9u-azTacY-bx5v1w-7Prexh-cc1rHm-hd9pDw-q1ycvK-3PAom6-3npceg-8aGhvX-btKZMn-7FZAL4-8ZHQDs" title="IceHogs Hockey Stick"><img src="https://farm8.staticflickr.com/7064/6808712936_922eab2052.jpg" width="500" height="156" alt="IceHogs Hockey Stick"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>



</div>
</div>






<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>