<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


     <style>
    .btn {
    padding: 11px 20px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-info {
    background: #ABD490;}

</style>


    <meta charset="UTF-8">
    <title>

    </title>
</head>
<body>

<div class="container-fluid">

    <!-- Making the text display bigger and have space between the text and button -->
    <div style="margin-bottom:50px;" class="h1 row">
        Total Sale is ${{total_sales}}
    </div>

    <a class="btn btn-info" href="{% url 'MainPage' %}">

        Go Back to Main Page

    </a>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>